.main {
    position: relative;
    width: 1340px;
    height: 900px;
    box-sizing: border-box;
    color: white;


}

.hero {
    position: absolute;
    display: flex;
    background-color: #273746;
    width: 1250px;
    height: 536px;
    left: 40px;
    top: 30px;

}

.right {
    position: absolute;
    width: 850px;
    height: 200px;
    left: 388px;
    top: 10px;

}

.title p {
    width: 414px;
    height: 27px;
    left: 388px;
    top: 83px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: 0.05em;
}

.title-details p {
    width: 830px;
    height: 90px;
    left: 388px;
    top: 137px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 23px;
    text-align: justify;

}

.class-schedule {
    width: 830px;
    height: 309px;
    left: 388px;
    top: 253px;
    padding-top: 50px;

}

.class-schedule img {
    width: 830px;

}


.left {
    position: absolute;
    width: 312px;
    height: 483px;
    left: 50px;
    top: 30px;

}

.instructor-title {
    width: 212px;
    height: 44px;
    left: 120px;
    top: 83px;
}

.instructor-image {
    width: 250px;
    height: 240px;
    left: 90px;
    top: 152px;
}

.instructor-name {
    width: 294px;
    height: 23px;
    left: 108px;
    top: 517px;

    font-family: 'Varta';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.1em;
}

.instructor-position {
    width: 265px;
    height: 23px;
    left: 108px;
    top: 543px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.body-text {
    position: absolute;
    width: 1250px;
    height: 198px;
    left: 20 px;
    top: 550px;
    font-family: 'Varta';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
    color: black;
}

.contact {
    position: absolute;
    width: 1340px;
    height: 46px;
    left: 0px;
    top: 1140px;
    float: left;
    margin-right: 400px;
}

.contact img {
    width: 1340px;
}

.footer {
    position: absolute;
    width: 1340px;
    height: 46px;
    left: 0px;
    top: 1182px;

}

.footer img {
    width: 1340px;
}